// main: ../../flinbu.less
section.module.main {
  background-color: @color-salmon;
  .box-shadow(inset 0 0 100px fade(@color-black, 20%));
  @media (min-width: @screen-md-min) {
    overflow: hidden;
  }
  h1.logo {
    margin-bottom: 30px;
    img, svg {
      max-width: 300px;
      position: relative;
      left: -30px;
      @media (max-width: @screen-xs-max) {
        max-width: 200px;
      }
    }
  }
  .mouse-icon {
    width: 30px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -15px;
    @media (max-width: @screen-xs-max) {
      bottom: 30px;
    }
  }
  .background {
    .opacity(0.20);
    .blur(5);
  }
}
